/* conteneur du collapse */
.collapseContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;  
}

/* bouton du collapse */
.wideCollapseButton {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 0 47px;
    padding: 0 0 0 18.08px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;  
}

.halfCollapseButton {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 0 47px;
    padding: 0 0 0 18.08px;
    border-radius: 5px;
    cursor: pointer;  
    flex: 0 52px;
    padding-left: 20px;
    font-size: 18px;
    border-radius: 10px;
}

/* indicateur d'ouverture */
.wideCollapseArrow {
    position: absolute;
    line-height: 0;
    width: 23.86px;
    height: 14.064px;
    top: 16.86px;
    right: 32.61px;
}

.halfCollapseArrow {
    position: absolute;
    line-height: 0;
    width: 26.4px;
    height: 15.56px;
    top: 17.79px;
    right: 11.8px;  
}

.openArrowIcon {
    width: 100%;
    height: 100%;  
    transition: transform 0.8s ease; /* Ajoute une transition de 0.3 seconde avec une fonction de temporisation ease */

}

.closeArrowIcon {
    width: 100%;
    height: 100%;  
    transform: rotate(180deg);
    transition: transform 0.5s ease; /* Ajoute une transition de 0.3 seconde avec une fonction de temporisation ease */

}

/* dropdown */
.wideCollapseContent {
    margin-top: -9px;
    padding: 36px 27px 19px 18px;
    flex: 1;
    font-size: 24px;
    background-color: var(--LightBackgroundColor);
    border-radius: 0 0 5px 5px;
    z-index: 1;  
}

.halfCollapseContent {
    margin-top: -9px;
    flex: 1;
    font-size: 24px;
    background-color: var(--LightBackgroundColor);
    z-index: 1;  
    padding: 40px 12px 27px 20px;
    font-size: 18px;
    border-radius: 0 0 10px 10px;  
}

/* Styles pour les écrans de largeur maximale 1224px (tablettes) */
@media screen and (max-width: 1224px) {
    /* bouton du collapse */
    .wideCollapseButton {
        flex: 0 40px;
        font-size: 18px;    
    }

    .halfCollapseButton {
        flex: 0 36px;
        font-size: 18px;    
    }

    /* indicateur d'ouverture */
    .wideCollapseArrow {
        top: 12.968px;
    }

    .halfCollapseArrow {
        width: 23.86px;
        height: 14.064px;
        top: 10.97px;    
    }
}

/* Styles pour les écrans de largeur maximale 768px (smartphones) */
@media screen and (max-width: 768px) {
    /* bouton du collapse */
    .wideCollapseButton {
        flex: 0 30px;
        padding-left: 11.51px;
        font-size: 13px;    
    }

    .halfCollapseButton {
        flex: 0 30px;
        padding-left: 11.51px;
        font-size: 13px;
        border-radius: 5px;    
    }

    /* indicateur d'ouverture */
    .wideCollapseArrow {
        width: 15.2px;
        height: 8.96px;
        top: 10.76px;
        right: 6.79px;    
    }

    .halfCollapseArrow {
        width: 15.2px;
        height: 8.96px;
        top: 10.74px;
        right: 6.79px;    
    }

    /* dropdown */
    .wideCollapseContent {
        margin-top: -5.8px;
        padding: 23px 6.9px 1.3px 11.5px;
        font-size: 12px;    
    }

    .halfCollapseContent {
        margin-top: -5.77px;
        padding: 23px 6.9px 1.3px 11.5px;
        font-size: 12px;    
    }
}
